
.nav img{
    cursor: pointer;
    margin-left: 20px;
}

.location{
    display: flex;
    gap: 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 1cm 0 0 0;
}
.loc-icon{
    color: rgb(75, 129, 209);
    padding-right: 5px;
}
.nav{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
}
.nav ul{
    display: flex;              
    gap: 1.5cm;
    font-size: 18px;
    padding: 20px 1cm  0 4cm;
    cursor: pointer;
}
.nav ul li{
    display: flex;
    list-style: none;
}
input{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    margin: 30px  0 0;
    cursor: pointer;
    
    padding-left: 1cm;
}
.search-icon{
    position: relative;
    cursor: pointer;
    right: 22%;
    top: 40px;
    color: gray;
    font-size: 18px;
}
.btn{
    width: 3cm;
    height: 35px;
    margin: 30px 35px 0 25px;
}
.btn-first{
    background:rgb(235, 78, 98) ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    color: white;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}